{% extends "base.html" %}

{% block metatitle %}Inscription confirmée{% endblock %}

{% block title %}Confirmation d’inscription{% endblock %}

{% block content %}



{% if account %}
	
	<p><b>Félicitations ! </b> Votre inscription est à présent confirmée.<br/>
	
	Munissez-vous maintenant de votre identifant et de votre mot de passe<br/>
	(ceux que vous avez entré sur le formulaire d’inscription)<br/>
	puis  <a href="/accounts/login/">identifiez-vous en cliquant ici</a>.</p>
	
{% else %}

	<p>Ah, ça n'a pas marché...<br/>
	Soit votre lien d’activation était incorrect (était-il coupé en deux dans votre email?), ou la période d’expiration de {{ expiration_days }} après l’inscription est passée.</p>
	<p>Vous pouvez <a href="/accounts/register/">vous inscrire à nouveau</a>.</p>

{% endif %}





{% endblock %}