{% extends "base.html" %}

{% block title %}Accueil{% endblock %}


{% block colonne %}
{% include 'rssplug/feed.html' %}
{% endblock colonne %}

{% block content %}

    <div class="siteinfo">Bienvenue, ce site est en phase de construction collaborative ! </div>
    
    <ul><li><a href="/accounts/invite">Inviter d’autres participants</a>, susceptibles de contribuer aux chantiers en cours</li>
    <li> <a href="/utilisateurs.html">Liste des participants</a></li>
    </ul>
    
    <h3>Chantiers en cours</h3>
    
    {% include 'chantiers/liste.html' %}
    

{% endblock %}